node_modules
.pnpm-store
dist
build
coverage
.turbo
pnpm-lock.yaml
prisma/migrations
services/server-service/src/generated
*.md
playwright-report
test-results
apps/web/playwright-report
apps/web/test-results
